In [4]:
import pandas as pd 
import numpy as np

In [5]:
def read_csv_to_dataframe(file_path):
    try:
        # Read the CSV file into a Pandas DataFrame
        dataframe = pd.read_csv(file_path)
        dataframe.bfill(inplace=True)
        return dataframe
    except FileNotFoundError:
        print(f"File not found: {file_path}")
        return None
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return None

In [6]:
# Load patients, inputevents, and vital signs dataframe from MIMIC-IV 

discharge_df = read_csv_to_dataframe("data/discharge.csv")

In [4]:
discharge_df

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...
...,...,...,...,...,...,...,...,...
331788,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...
331789,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...
331790,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...
331791,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...
331792,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...

In [7]:
test = discharge_df['text'].head(10).values

In [ ]:
test

In [ ]:
def get_discharge_notes_by_subject_ids(subject_ids, df):
    # Use the isin method to filter the DataFrame based on subject_ids
    filtered_df = df.iloc[:100][df['subject_id'].isin(subject_ids)]

    # Extract the 'text' column values as a NumPy array
    text_values = filtered_df['text'].to_numpy()

    return text_values

# Example usage
subject_ids_to_search = [10000032]
resulting_texts = get_discharge_notes_by_subject_ids(subject_ids_to_search, discharge_df)

print(resulting_texts)
print(len(resulting_texts))

In [20]:
def clean_and_save_text(output_file, text_values):
    # Join the text values into a single string
    text_combined = '\n'.join(text_values)

    # Remove '\n' characters
    cleaned_text = text_combined.replace('\n', ' ')

    # Save the cleaned text to a file
    with open(output_file, 'w', encoding='utf-8') as file:
        file.write(cleaned_text)

# Example usage
output_file_path = 'output.txt'
subject_ids_to_search = [10000032]
filtered_df = discharge_df[discharge_df['subject_id'].isin(subject_ids_to_search)]
text_values = filtered_df['text'].to_numpy()

clean_and_save_text(output_file_path, text_values)